<%- include('../includes/header.ejs') %>
    <main>
        <% if(errorMessage){%>
            <div class="alert alert-danger"><%= errorMessage %> </div>
        <% } %>  
        <form action="/new-password" method="post" style="margin-top: 1rem;">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <input type="hidden" value="<%= userId %>" name="userId">
            <input type="hidden" value="<%= passwordToken %>" name="passwordToken">
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div>
                <input type="submit" class="btn btn-outline-warning" value="New Password">
            </div>
        </form>
    </main>
<%- include('../includes/footer.ejs') %>  