<%- include('../includes/header.ejs') %>
<main>
    <% if(errorMessage){%>
        <div class="alert alert-danger"><%= errorMessage %> </div>
    <% } %>  
    <form action="/signup" method="post" style="margin-top: 1rem;" novalidate>
        <input type="hidden" value="<%= csrfToken %>" name="_csrf">
        <div class="form-group">
            <label for="">Name</label>
            <input 
                type="text" 
                name="name" 
                class="form-control" 
                value="<%=  oldInput.name %>"
                class="<%= validationErrors.find((v)=> v.param ==="name")  ? 'validations' : '' %>"
            >
        </div>
        <div class="form-group">
            <label for="">Email</label>
            <input 
                type="email" 
                name="email" 
                value="<%= oldInput.email %> "
                class="form-control <%=  validationErrors.find((v) => v.param === "email") ? 'validations' : ''%>">
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input 
                type="password"
                name="password"
                value="<%=  oldInput.password %>"
                class="form-control <%= validationErrors.find((v) => v.param === "password") ? 'validations' : ''%>"
            >
        </div>
        <div class="form-group">
            <label for="">Confirm Password</label>
            <input 
                type="password" 
                name="confirm_password" 
                value="<%=  oldInput.confirm_password %>"
                class="form-control <%= validationErrors.find((v) => v.param === "confirm_password") ? 'validations' : ''%>"
            >
        </div>
        <div>
            <input type="submit" class="btn btn-outline-warning" value="Signup">
        </div>
    </form>
</main>
<%- include('../includes/footer.ejs') %>  