<%- include('../includes/header.ejs') %>
    <main>
        <div class="product-lists">
            <% for(product of products){ %>
                <div class="product-list">
                    <h3 class="product-title"><%= product.title %> </h3>
                    <img src="<%= product.image %> " alt="">
                    <div class="product-text">
                        <p class="product-description"><%= product.description %> </p>
                        <span class="product-price"><%= product.price %> $</span>
                    </div>
                    <div class="btn-lists">
                        <button class="btn btn-warning">Edit</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            <% } %> 
        </div>
    </main>
<%- include('../includes/footer.ejs') %> 