<div class="pagination" style="width:20%;margin:2rem auto;">
    <% if(currentPage !==1 && previousPage!==1){ %>
        <a href="?page=1" class="btn btn-outline-warning btn-sm">1</a>
    <% } %>  
    <% if(hasPreviousPage){ %>
        
        <a href="?page=<%= previousPage %>" class="btn btn-outline-warning btn-sm"><%= previousPage %> </a>
    <% } %> 
    <% if(currentPage !== lastPage) {%>
        <a href="?page=<%= currentPage %>" class="btn btn-outline-warning btn-sm"><%= currentPage %> </a>
    <% } %>  
    
    <% if(hasNextPage && lastPage!==nextPage){ %> 
       
        <a href="?page=<%= nextPage %>" class="btn btn-outline-warning btn-sm"><%= nextPage %> </a>
    <% } %> 
    <a href="?page=<%= lastPage %>" class="btn btn-outline-warning btn-sm"><%= lastPage %> </a>
</div>